body {
  max-width: 1024px;
  width: 690px;
  margin: auto; 
}

.mainPhoto {
  width: 180px;
  padding-top: 20px;
  padding-right: 30px;
}

h1 {
  padding-bottom: 5px;   
  text-align: left;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  color: #003333;
}

h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #b33a15de;
}

h3 {
  text-align: right;
  padding: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #3d3d3dc5;
  
}


.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #252525;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 23px;
}

.contacts {
  display: flex;
  flex-direction: row;  
  font-family: Arial, Helvetica, sans-serif;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 18px;
  padding: 10px;  
  color: #494949;
}

a:link {
  font-size: 16px; 
  color: #6b6b6b;
  text-decoration: none;
}
a:visited { 
  font-size:16px; 
  color:DarkRed }

a:hover { 
  font-size:16px; 
  color:Tomato }

section {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

p {
  padding: 5px;
  margin: 5px;
  }

.iconTel {
  width: 20px; 
  height: 20px; 
  display: inline-block;
  vertical-align: bottom;
  padding-left: 25px;
}

.iconMail {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  vertical-align: bottom;
}

.iconUnder {
  display: inline-block;
  width: 35px; 
  height: 35px; 
  vertical-align: middle;
  padding-left: 10px;
}
  