body {
  
  max-width: 1024px;
  margin: auto;

}

main {
  width: 75%;
  margin: auto;

}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: row;  
  font-family: Arial, Helvetica, sans-serif;
}

.article {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 18px;
  padding-left: 10px; 
  padding-top: 20px; 
  color: #494949;
  text-align: justify;
}

section {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.mainPhoto {
  display: flex;
  padding-top: 20px;
  padding-right: 30px;
}

h1 {
  padding-bottom: 5px;   
  text-align: center;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  color: #003333;
}

h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #b33a15de;
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #3d3d3dc5;
  
}


.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #252525;
}

p {
  padding: 5px;
  margin: 5px;
  }

a:link {
  font-size: 16px; 
  color: #6b6b6b;
  text-decoration: none;
}
a:visited { 
  font-size:16px; 
  color:DarkRed; 
}

a:hover { 
  font-size:16px; 
  color:Tomato; 
}

.iconTel {
  width: 20px; 
  height: 20px; 
  display: inline-block;
  vertical-align: bottom;
  padding-left: 25px;
}

.iconMail {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  vertical-align: bottom;
}

.iconUnder {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  vertical-align: middle;
  padding-left: 10px;
}

@media screen and (max-width: 900px) {
.header {flex-direction: column}  

.mainPhoto {
    max-width: 50%;
    display: Flex;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;

  } 
  
  h1 {
    padding-bottom: 5px;   
    text-align: center;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003333;
    margin: auto;
    padding-top: 10px;
  }
  
  h3 {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #3d3d3dc5;
  }

  .contacts {
    display: grid;
    grid-auto-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center; 
 }

  .iconTel {
    width: 20px; 
    height: 20px; 
    display: inline-block;
    vertical-align: bottom;
    padding-left: 0px;
  }
  
  .iconMail {
    display: inline-block;
    width: 20px; 
    height: 20px;
    vertical-align: bottom;
  }
}
